
@{
    ViewBag.Title = "NewConsignment";
}


<div id="mainContainer" class="container">
    <div class="row">
        <div id="rightside" class="col-xs-12 col-sm-12 col-md-12" style="min-height:836px;">
            <div id="load"></div>
            <div id="pageTitle" class="article-header"><h1 style="color:#003184">New Consignment</h1></div>
            <div class="panel panel-body" style="padding:0">
                <div class="panel-body" style="padding:3px">
                    <label id="warning1" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                    <label id="warning2" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                    <label id="warning3" style="display:none;padding:1px;width:500px" class="label-warning">Test</label>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 0">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Receiver Details
                    </div>
                    <div class="panel-body">
                        <div class="address">
                            <label>Name:<span style="color:red;font-weight:bold">*</span></label>
                            <input id="tbxCustomerName" class="form-control" placeholder="Company or Name" type="text" style="" />
                        </div>
                        <div class="address">
                            <label>Address line 1:<span style="color:red;font-weight:bold">*</span></label>
                            <input id="tbxDeliveryAddress" class="form-control" placeholder="Address line 1" type="text" style="" />
                        </div>
                        <div class="address">
                            <label>Address line 2:</label>
                            <input id="tbxDeliveryAddress1" class="form-control" placeholder="Address line 1" type="text" style="" />
                        </div>
                        <div class="row">
                            <div class="address col-md-6">
                                <label>Suburb:<span style="color:red;font-weight:bold">*</span></label>
                                <input id="tbxDeliveryCity" class="form-control" placeholder="Suburb" type="text" style="" />
                            </div>
                            <div class="address col-md-6">
                                <label>Postcode:<span style="color:red;font-weight:bold">*</span></label>
                                <input id="tbxDeliveryPostcode" class="form-control" placeholder="Postcode" type="text" maxlength="4" style="" />
                            </div>
                        </div>
                        <div class="address">
                            <label>Region:</label>
                            <input id="tbxRegion" class="form-control" placeholder="Region:" type="text" style="" />
                        </div>
                    </div>
                    <div id="satFooter" class="panel-footer" style="display:none">
                        <label>
                            <input id="satCbx" name="satCbx" type="checkbox"  />
                            Saturday Service
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-right: 0">
                <div class="panel panel-default">
                    <div class="panel-heading">Options</div>
                    <div class="panel-body">
                        <div class="address">
                            <label>Contact Name:</label>
                            <input id="tbContactName" class="form-control" type="text" style="width:100%"/>
                        </div>
                        <div class="address">
                            <label>Email:</label>
                            <input id="tbEmail" class="form-control" type="text" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone Number:</label>
                                <input id="tbPhone" class="form-control" type="text" />
                            </div>
                            <div class="col-md-6">
                                <label>Mobile:</label>
                                <input id="tbMobilePhone" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width:100%">
                    <label>Special Instructions</label>
                    <input id="tbInstructions" class="form-control" style="width:100%" type="text" />
                </div>
            </div>
            <table class="table-spacing pad-bottom-50 pad-top-10" style="border-collapse:separate; width:100%">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <table id="tblItems" class="list" style="width:100%">
                                <tbody>
                                    <tr class="headerFullBox">
                                        <td>Reference</td>
                                        <td>Packaging</td>
                                        <td>Items</td>
                                        <td>Weight(kg)</td>
                                        <td>Cubic(m<sup>3</sup>)</td>
                                        <td>Length(cm)</td>
                                        <td>Width(cm)</td>
                                        <td>Height(cm)</td>
                                        <td>Cost</td>
                                        <td>Extra</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-primary" onclick="printLabels()">
                        Print labels
                    </a>
                    <a class="btn btn-primary" onclick="addPackage()">
                        Add package
                    </a>
                    <a id="reset-button" class="btn btn-danger" onclick="reset()">
                        Reset
                    </a>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right" style="width:120px">
                        <table style="text-align:right;vertical-align:top" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>Ex GST:</h6>
                                    </td>
                                    <td>
                                        $
                                        <label id="spanExGST">0.00</label>
                                    </td>
                                </tr>
                                <tr style="border-top:1px solid black">
                                    <td>
                                        <h6>GST:</h6>
                                    </td>
                                    <td>
                                        $
                                        <label id="spanGST">0.00</label>
                                    </td>
                                </tr>
                                <tr style="height: 20px">
                                    <td style="border-top: 1px solid black; border-bottom: 1px double black">
                                        <h4>Total:</h4>
                                    </td>
                                    <td style="border-top: 1px solid black; border-bottom: 1px double black">
                                        $
                                            <label id="spanTotal">0.00</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    document.getElementById("load").style.visibility = "hidden", addPackage(); var addressString = document.getElementById("deliveryAddress").value; if ("NoAddress" == addressString) document.getElementById("warning1").innerText = "No delivery address found, please check with customer and input accordingly", document.getElementById("warning1").style.display = "block"; else if ("MoreThanOne" == addressString) document.getElementById("warning1").innerText = "You have selected orders from different customers, please check and try again", document.getElementById("warning1").style.display = "block"; else { var addressDetails = JSON.parse(addressString); "" != addressDetails.Company && null != addressDetails.Company ? (document.getElementById("tbxCustomerName").value = addressDetails.Company, document.getElementById("tbContactName").value = addressDetails.Name) : document.getElementById("tbxCustomerName").value = addressDetails.Name, document.getElementById("tbxDeliveryAddress").value = addressDetails.Address1, document.getElementById("tbxDeliveryAddress1").value = addressDetails.Address2, document.getElementById("tbxDeliveryCity").value = addressDetails.City, document.getElementById("tbxDeliveryPostcode").value = addressDetails.Zip, document.getElementById("tbxRegion").value = addressDetails.Province, document.getElementById("tbPhone").value = addressDetails.Phone, document.getElementById("tbEmail").value = document.getElementById("emailAddress").value, document.getElementById("tbInstructions").value = document.getElementById("specialInstruction").value } function resetDetails(e) { var t = $(e).attr("id").replace("packaging", ""); document.getElementById("items" + t).value = 1, document.getElementById("weight" + t).value = "", document.getElementById("totalCost" + t).value = "", document.getElementById("extra" + t).innerHTML = "" } function reCalculate(e) { var t = $(e).attr("id").replace("items", ""); e.value <= 0 ? (document.getElementById("totalCost" + t).value = "", document.getElementById("extra" + t).innerHTML = "") : document.getElementById("weight" + t).value > 0 && "" != document.getElementById("weight" + t).value && (serviceQuery(document.getElementById("weight" + t)), updateTotalCost()) } function serviceQuery(e) { var t = $(e).attr("id").replace("weight", ""); if (e.value <= 0 || "" == e.value) document.getElementById("extra" + t).innerHTML = "", document.getElementById("totalCost" + t).value = ""; else { var n = e.value; if ("" != document.getElementById("cubic" + t).value) { var d = 200 * document.getElementById("cubic" + t).value; d > n && (n = d) } var l = { ShopUrl: document.getElementById("shopUrl").value, Address1: document.getElementById("tbxDeliveryAddress").value, Address2: document.getElementById("tbxDeliveryAddress1").value, Suburb: document.getElementById("tbxDeliveryCity").value, Postcode: document.getElementById("tbxDeliveryPostcode").value, Region: document.getElementById("tbxRegion").value, Weight: n, Type: document.getElementById("packaging" + t).value }; document.getElementById("load").style.visibility = "visible", $.ajax({ type: "POST", url: "/Home/LabelQuery", data: JSON.stringify(l), dataType: "json", contentType: "application/json; charset=utf-8", success: function (e) { if ("No Service Available" == e.Error) document.getElementById("extra" + t).innerHTML = e.Error, document.getElementById("totalCost" + t).value = "", updateTotalCost(); else { var n = (parseFloat(e.TotalCost) * parseFloat(document.getElementById("items" + t).value)).toFixed(2); document.getElementById("totalCost" + t).value = n; var d = e.BaseLabelColour + "<br>"; e.Rural && (d += "Rural <br>"), e.Excess > 0 && (d = d + e.Excess + " Excess"), document.getElementById("extra" + t).innerHTML = d, "True" == e.Saturday && (document.getElementById("satFooter").style.display = "block"), updateTotalCost() } document.getElementById("load").style.visibility = "hidden" }, error: function () { document.getElementById("extra" + t).innerHTML = "There was an error, please try again later", document.getElementById("totalCost" + t).value = "", updateTotalCost(), document.getElementById("load").style.visibility = "hidden" } }) } } function addPackage() { var e = document.getElementById("tblItems"), t = e.getElementsByTagName("tr").length; if (t >= 2) { for (var n = !0, d = 0; d < t - 1; d++)"" == document.getElementById("totalCost" + d).value && (n = !1); n ? (document.getElementById("warning3").style.display = "none", addRow(e, t)) : (document.getElementById("warning3").innerText = "There are unused package(s)", document.getElementById("warning3").style.display = "block") } else document.getElementById("warning3").style.display = "none", addRow(e, t) } function addRow(e, t) { var n = e.insertRow(t); n.classList.add("consignmentItems"); for (var d = ["reference", "packaging", "items", "weight", "cubic", "length", "width", "height", "totalCost", "extra"], l = 0; l < d.length; l++) { createCell(n.insertCell(-1), d[l], t - 1) } } function createCell(e, t, n) { if ("packaging" == t) { e.classList.add("col-xs-2"), e.style.padding = "1px"; var d = document.createElement("select"); switch (d.setAttribute("id", "packaging" + n), d.classList.add("form-control"), d.onchange = function () { if (document.getElementById("items" + n).value = 1, "Parcel" != document.getElementById("packaging" + n).value) { switch (document.getElementById("countryCode").value) { case "1": switch (document.getElementById("packaging" + n).value) { case "SAT-NAT-A5": document.getElementById("weight" + n).value = .5; break; case "SAT-NAT-A4": document.getElementById("weight" + n).value = 1; break; case "SAT-NAT-A3": document.getElementById("weight" + n).value = 3; break; case "SAT-NAT-A2": document.getElementById("weight" + n).value = 5 }break; case "6": document.getElementById("weight" + n).value = 5 }document.getElementById("totalCost" + n).value = "", document.getElementById("extra" + n).innerHTML = "", document.getElementById("tbxCustomerName").disabled || disableAddress(), serviceQuery(document.getElementById("weight" + n)) } else document.getElementById("weight" + n).value = "", document.getElementById("totalCost" + n).value = "", document.getElementById("extra" + n).innerHTML = ""; updateTotalCost() }, document.getElementById("countryCode").value) { case "1": var l = ["Parcel", "Satchel A5", "Satchel A4", "Satchel A3", "Satchel A2"]; break; default: l = ["Parcel", "Satchel DL", "Satchel A5", "Satchel A4", "Satchel A3", "Satchel A2"] }for (var a = 0; a < l.length; a++) { var m = document.createElement("option"); switch (m.text = l[a], l[a]) { case "Parcel": m.value = "Parcel"; break; case "Satchel DL": m.value = "SAT-NAT-E11"; break; case "Satchel A5": m.value = "SAT-NAT-A5"; break; case "Satchel A4": m.value = "SAT-NAT-A4"; break; case "Satchel A3": m.value = "SAT-NAT-A3"; break; case "Satchel A2": m.value = "SAT-NAT-A2" }d.add(m) } e.appendChild(d) } else if ("reference" == t) { e.classList.add("col-xs-2"), e.style.padding = "1px", (o = document.createElement("input")).classList.add("form-control"), o.setAttribute("id", "reference" + n), o.setAttribute("type", "text"), e.appendChild(o) } else if ("extra" == t) { e.classList.add("col-xs-1"), e.style.padding = "1px"; var u = document.createElement("label"); u.setAttribute("id", "extra" + n), u.setAttribute("type", "text"), e.appendChild(u) } else { var o; e.classList.add("col-xs-1"), e.style.padding = "1px", (o = document.createElement("input")).classList.add("form-control"), o.setAttribute("id", t + n), o.setAttribute("type", "text"), "items" == t ? (o.value = "1", o.onchange = function () { document.getElementById("items" + n).value <= 0 || "" == document.getElementById("items" + n).value ? (document.getElementById("totalCost" + item).value = "", document.getElementById("extra" + item).innerHTML = "", updateTotalCost()) : document.getElementById("weight" + n).value > 0 && "" != document.getElementById("weight" + n).value && serviceQuery(document.getElementById("weight" + n)) }) : "weight" == t ? (o.setAttribute("type", "number"), o.setAttribute("min", 0), o.onchange = function () { 0 == document.getElementById("weight" + n).value || "" == document.getElementById("weight" + n).value ? (document.getElementById("extra" + n).innerHTML = "", document.getElementById("totalCost" + n).value = "", updateTotalCost()) : addressCheck() ? (document.getElementById("warning1").style.display = "none", document.getElementById("warning2").style.display = "none", document.getElementById("tbxCustomerName").disabled || disableAddress(), serviceQuery(document.getElementById("weight" + n))) : (document.getElementById("warning1").style.display = "none", document.getElementById("warning2").style.display = "block", document.getElementById("warning2").innerText = "Please check required address details", document.getElementById("weight" + n).value = "") }) : "cubic" == t || "totalCost" == t ? o.disabled = !0 : (o.setAttribute("type", "number"), o.setAttribute("min", 0), o.setAttribute("max", 200), o.value = 0, o.onchange = function () { if ("" != document.getElementById("weight" + n).value && 0 != document.getElementById("weight" + n).value) if (document.getElementById("length" + n).value > 0 && document.getElementById("width" + n).value > 0 && document.getElementById("height" + n).value > 0) { var e = document.getElementById("length" + n).value * document.getElementById("width" + n).value * document.getElementById("height" + n).value / 1e6; "" == document.getElementById("cubic" + n).value ? (document.getElementById("cubic" + n).value = e.toFixed(3), 200 * e > document.getElementById("weight" + n).value && serviceQuery(document.getElementById("weight" + n))) : 200 * document.getElementById("cubic" + n).value > document.getElementById("weight" + n).value ? e > document.getElementById("cubic" + n).value ? (document.getElementById("cubic" + n).value = e.toFixed(3), serviceQuery(document.getElementById("weight" + n))) : 200 * e < document.getElementById("weight" + n).value ? (document.getElementById("cubic" + n).value = e.toFixed(3), serviceQuery(document.getElementById("weight" + n))) : document.getElementById("cubic" + n).value = e.toFixed(3) : 200 * e > document.getElementById("weight" + n).value ? (document.getElementById("cubic" + n).value = e.toFixed(3), serviceQuery(document.getElementById("weight" + n))) : document.getElementById("cubic" + n).value = e.toFixed(3) } else 200 * document.getElementById("cubic" + n).value > document.getElementById("weight" + n).value ? (document.getElementById("cubic" + n).value = "", serviceQuery(document.getElementById("weight" + n))) : document.getElementById("cubic" + n).value = ""; else if (document.getElementById("length" + n).value > 0 && document.getElementById("width" + n).value > 0 && document.getElementById("height" + n).value > 0) { e = document.getElementById("length" + n).value * document.getElementById("width" + n).value * document.getElementById("height" + n).value / 1e6; document.getElementById("cubic" + n).value = e.toFixed(3) } }), e.appendChild(o) } } function enableAddress() { document.getElementById("tbxCustomerName").disabled = !1, document.getElementById("tbxDeliveryAddress").disabled = !1, document.getElementById("tbxDeliveryAddress1").disabled = !1, document.getElementById("tbxDeliveryCity").disabled = !1, document.getElementById("tbxDeliveryPostcode").disabled = !1, document.getElementById("tbxRegion").disabled = !1 } function disableAddress() { document.getElementById("tbxCustomerName").disabled = !0, document.getElementById("tbxDeliveryAddress").disabled = !0, document.getElementById("tbxDeliveryAddress1").disabled = !0, document.getElementById("tbxDeliveryCity").disabled = !0, document.getElementById("tbxDeliveryPostcode").disabled = !0, document.getElementById("tbxRegion").disabled = !0 } function reset() { enableAddress(), $("#tblItems tr").slice(1).remove(), addPackage(), document.getElementById("spanExGST").innerHTML = "0.00", document.getElementById("spanGST").innerHTML = "0.00", document.getElementById("spanTotal").innerHTML = "0.00", document.getElementById("satCbx").checked = !1, document.getElementById("satFooter").style.display = "none" } function addressCheck() { var e = !0; return "" != document.getElementById("tbxCustomerName").value && "" != document.getElementById("tbxDeliveryAddress").value && "" != document.getElementById("tbxDeliveryCity").value && "" != document.getElementById("tbxDeliveryPostcode").value || (e = !1), e } function printLabels() { var e = document.getElementById("tblItems"), t = e.getElementsByTagName("tr").length; if (t >= 2) { for (var n = !0, d = 0; d < t - 1; d++)"" == document.getElementById("totalCost" + d).value && (n = !1); if (n) { document.getElementById("warning3").style.display = "none"; var l = ""; l = "" != document.getElementById("tbMobilePhone").value ? document.getElementById("tbMobilePhone").value : document.getElementById("tbPhone").value; for (var a = { Address1: document.getElementById("tbxDeliveryAddress").value, Address2: document.getElementById("tbxDeliveryAddress1").value, Suburb: document.getElementById("tbxDeliveryCity").value, Postcode: document.getElementById("tbxDeliveryPostcode").value, Company: document.getElementById("tbxCustomerName").value, ContactName: document.getElementById("tbContactName").value, ContactPhone: l, ContactEmail: document.getElementById("tbEmail").value, SpecialInstruction1: document.getElementById("tbInstructions").value }, m = e.getElementsByTagName("tr").length - 1, u = document.getElementById("satCbx").checked, o = "[", c = 0; c < m; c++) { var i = document.getElementById("extra" + c).innerHTML; "" != i && (o += '{"Reference":"' + document.getElementById("reference" + c).value + '","Items":"' + document.getElementById("items" + c).value + '","Weight":"' + document.getElementById("weight" + c).value + '","BaseLabel":"' + getService(i) + '"}', c != m - 1 && (o += ",")) } o += "]"; var s = { ShopUrl: document.getElementById("shopUrl").value, DeliveryDetails: JSON.stringify(a), PackagingDetails: o, Saturday: u }; document.getElementById("load").style.visibility = "visible", $.ajax({ type: "POST", url: "/Home/LabelPrintingV2", data: JSON.stringify(s), dataType: "json", contentType: "application/json; charset=utf-8", success: function (e) { window.open("data:application/pdf;base64, " + e.PdfBase64Stream, "", "height=600,width=800"), window.location = "OrdersFulfillment?shopUrl=" + document.getElementById("shopUrl").value + "&orderIds=" + document.getElementById("orderDetails").value + "&labelNumbers=" + e.Labels, document.getElementById("load").style.visibility = "hidden" }, error: function () { document.getElementById("load").style.visibility = "hidden", alert("There was an error!") } }) } else document.getElementById("warning3").innerText = "There are unused package(s)", document.getElementById("warning3").style.display = "block" } } function getService(e) { var t = e.indexOf("<"); return -1 === t ? e : e.substr(0, t) } function updateTotalCost() { for (var e = document.getElementById("tblItems").getElementsByTagName("tr").length, t = 0, n = 0; n < e - 1; n++) { if ("" != document.getElementById("totalCost" + n).value) t += parseFloat(document.getElementById("totalCost" + n).value) } var d = 15 * t / 100, l = t + d; document.getElementById("spanExGST").innerHTML = t.toFixed(2), document.getElementById("spanGST").innerHTML = d.toFixed(2), document.getElementById("spanTotal").innerHTML = l.toFixed(2), document.getElementById("warning1").style.display = "none", document.getElementById("warning2").style.display = "none", document.getElementById("warning3").style.display = "none" }
</script>